#top {
	height: 31px;
	background: #fafafa;
	border-bottom: 1px solid #e8e8e8;
}
.top-inner {
	width: 1007px;
	margin: 0 auto;
	height: 31px;
	position: relative;
}
.section-top {
	float: left;
	line-height: 31px;
}
.top-inner .section-top a {
	color: #3683ec;
}
.list-top {
	float: right;
}
.list-top li{
	float: left;
	line-height: 31px;
	color: #cccccc;
	text-align: center;
}
.list-top li:first-child{
	background: url(../image/shopping1.png) no-repeat 0 center;
	padding-left: 15px;
}
.list-top li a{
	color: #999;
	padding: 0 10px;	
}
.list-top li:last-child a{
	padding-right: 0;
}
/*以上是top部分*/

#header{
	height: 101px;
}
.header-inner{
	width: 1007px;
	margin: 0 auto;
	height: 101px;
}
.header-inner a{
	float: left;
	margin-top: 18px;
	margin-right: 20px;
}
.header-inner span{
	float: left;
	font-size: 20px;
	height: 40px;
	border-left: 1px solid #ccc;
	color: #999;
	padding-left: 10px;
	line-height: 40px;
	margin-top: 31px;
}
/*以上是header部分*/

#main{
	background: #f9f9f9;
}
.main-inner{
	width: 1007px;
	margin: 0 auto;
	padding: 80px 0 50px 0;
	font-family: 'Microsoft YaHei';
	overflow: hidden;
}
.content-left{
	width: 340px;
	margin-left: 50px;
	overflow: hidden;
	float: left;
}
.content-left p{
	font-size: 36px;
	margin-bottom: 34px;
}
.content-left dl dt{
	font-size: 14px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
}
.content-left dl dd{
	font-size: 13px;
	height: 20px;
	line-height: 20px;
}
.list-dl1{
	margin-bottom: 22px;
}
.list-dl2{
	margin-top: 93px;
	overflow: hidden;
}

.content-left .code img{
	width: 103px;
	height: 103px;
	margin-top: 4px;
}
/*以上是content-left部分样式*/
.content-right{
	width: 450px;
	height: 520px;
	float: right;
	background: #fff;
	border: 1px solid #f9f9f9;
	margin-right: 50px;
}
.title-p{
	text-align: center;
	overflow: hidden;
	width: 361px;
	margin:20px auto 0;
	height: 40px;
}
.title-p a{
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	background: #eff4f8;
	color: #666;
	display:block;
	float: left;
	
}
.title-p a:hover{
	text-decoration: none;
}
.title-p .select{
	font-size: 18px;
	color: #3683ec;
	width: 230px;
	background: #fff;
	border-top: 2px solid #69b3f2;
	height: 38px;
	border-left: 1px solid #ccc;
	text-decoration: none;
}

.input{
	padding:20px 30px 20px 40px;
	color: #666;

}
.input label{
	display: block;
	height: 30px;
}
.input label input{
	width: 278px;
	height: 26px;
	line-height: 28px;
	padding-left: 3px;
	border: 1px solid #ccc;
	outline: none;
}
.input label .phone{
	width: 170px;
}
.input label .getcode{
	width: 80px;
	padding: 0;
	height: 30px;
	margin-left: 27px;
	border: 1px solid #3683ec;
	background: #fff;
	color: #3683ec;
	cursor: pointer;
}
.input label i{
	color: red;
}
.input p{
	width: 270px;
	height: 20px;
	line-height: 20px;
	color: red;
	margin-left: 80px;
	opacity: 0;
}
.input label span{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	text-align: justify;
	text-align-last: justify;
}
.input div .checked1{
	font-size: 11px;
	width: 11px;
	height: 11px;
	margin-left: 80px;
}
.input div a{
	color:#3683ec ;
}
.input .btn{
	display: block;
	width: 365px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #3683ec;
	color: #fff;
	border: 0;
	border-radius: 5px;
	margin-top: 18px;
	cursor: pointer;
}
.input .btn:hover{
	opacity: 0.9;
}
.span-a{
	width: 365px;
	margin: 22px auto 0;
	text-align: right;
}
.span-a a{
	margin-left: 20px;
}

.input-5{
	position: relative;
}
.input-5 .icon-rank{
	display: inline-block;
	width: 125px;
	height: 16px;
	position: absolute;
	right: 17px;
	background: url(../image/icon-rank.png) no-repeat;
	bottom: 0;
	opacity: 0;
}
.input-7 span{
	display: inline-block;
	width: 70px;
	height: 10px;
	margin-right: 10px;
}



/*以上是main部分*/




.footer-inner{
	width: 1007px;
	margin: 0 auto;
	padding-top: 40px;
}
.footer-inner .text-t{
	height: 92px;
	border-bottom: 1px solid #ccc;
}
.list-icon {
	display: flex;
	justify-content: space-between;
}
.list-icon li {
	color: #666;
	width: 112px;
	height: 62px;
}
.list-icon li i {
	display: inline-block;
	float: left;
	width: 53px;
	height: 53px;
	background: url(../image/img001.png) no-repeat;
	margin-right: 10px;
}
.list-icon li b {
	font-size: 24px;	
	float: left;
}

.list-icon li span {
	float: left;
	height: 28px;
	width: 48px;
}
.list-icon li:nth-child(2) i {
	background: url(../image/img001.png) no-repeat 0 -55px;
}

.list-icon li:nth-child(3) i {
	background: url(../image/img001.png) no-repeat 0 -110px;
}

.list-icon li:nth-child(4) i {
	background: url(../image/img001.png) no-repeat 0 -165px;
}

.list-icon li:nth-child(5) i {
	background: url(../image/img001.png) no-repeat 0 -220px;
}

.text-b p{
	text-align: center;
	height: 28px;
	line-height: 28px;
	color: #999;
}
.text-b p a{
	color: #999;
}
.text-b p:first-child{
	margin-top: 17px;
}
.code-phone{
	width: 560px;
	margin: 20px auto 0;
	height: 180px;
}
.code-phone dl{
	float: left;
	text-align: center;
	color: #999;
}
.code-phone dl dt{
	width: 150px;
	height: 150px;
}
.code-phone ul{
	float: left;
	font-size: 18px;
	color: #999;
	padding-top: 50px ;
	margin-left: 40px;
}
.code-phone ul b{
	color: #f60;
}
.text-b .police {
	text-align: center;
}

.text-b .police a {
	display: inline-block;
	border: 1px solid #ccc;
	width: 110px;
	height: 40px;
	padding: 5px;
	margin: 6px;
	vertical-align: middle
}

.police a img {
	float: left;
	width: 35px;
	height: 40px;
}

.police a span {
	float: left;
	display: inline-block;
	margin-left: 5px;
}

.police a:last-child {
	padding: 0px;
	width: 127px;
	height: 47px;
	background: url(../image/cnnic.png) no-repeat;
}